html{
    background-color: rgba(228, 236, 148, 0.884);
}
.header{
    width: 960px;
    height: 80px;
}
.header-logo{
    width: 100px;
    height: 50px;
}
.main{
    background-color: rgba(228, 236, 148, 0.884);
}
.main-image{
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 50%;
    margin: auto;
}
.main-image img{
    width: 100%;
    height: auto;
}
.new-photo h1 photo-link{
    float: left;
}